<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-nowrap">
        {% for day in week %}
            {% for date in day %}
            <div class="col-2 bg-light">
                <div class="row sticky-top p-1 text-light bg-dark" href="/">
                    {{"{0:%d}".format(date)}}.{{"{0:%m}".format(date)}}</br>
                    {{"{0:%a}".format(date)}}
                </div>
                <div style="margin-left: 1px; margin-right: 1px;">
                    {% for i in day[date] %}
                        {% if i.time() >= time_start and i.time() < time_finsh %}
                            {% if day[date][i] %}
                                <div>
                                    <div class="row p-1 bg-warning">
                                        {{day[date][i][i]['name']}}
                                    </div>
                                </div>
                            {% else %}
                                <div href='/{{i.time().strftime("%H:%M")}}' class="row p-1" data-toggle="modal" data-target="#exampleModalLong">
                                    {{i.time().strftime("%H:%M")}}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                </div>
                <div class="modal-body">
                    <iframe src="{{value}}" frameborder="0" scrolling="yes" onload="resizeIframe(this)" width="100%"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
